* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --bg-color: #23012d;
    --second-bg-color: #31053e;
    --text-color: cornsilk;
    --main-color: blueviolet;
    --second-main-color: rgb(249, 139, 37);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

span {
    color: var(--second-main-color);
}

.project {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url(Assets/HomePhoto_.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.project-content {
    max-width: 60rem;
    z-index: 99;
}

.project-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.project-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.project-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.project-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.project-sci a:hover {
    color: var(--bg-color);
}

.project-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.project-sci a:hover::before {
    width: 100%;
}

.gameplay video {
    width: 650px;
    height: 500px;
    margin-left: 4rem;
}

@media (max-width: 1500px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .gameplay video {
        width: 450px;
        height: 345px;
    }
}

@media (max-width: 991px) {
    .project {
        display: block;
    }

    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .project-content p {
        margin-bottom: 1rem;
    }

    .gameplay video {
        margin-left: 0;
    }
}

@media (max-width: 768px) {

    .header {
        background: var(--bg-color);
    }
}

@media (max-width: 520px) {

    .home-content h1 {
        display: flex;
        flex-direction: column;

    }

    .home-sci {
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 462px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        font-size: 5.2rem;
    }
}

@media(max-width: 371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 5rem;
    }
}